.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin-top: 0;
  background-color: #d7d7d7;
}

@media (max-width: 770px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
